* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #A4E0CC;
}

.card-game {
    width: 640px;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    perspective: 1000px;

    &__matching-card {
        width: calc(25% - 10px);
        height: calc(33.333% - 10px);
        margin: 5px;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 5px;
        transform: scale(1);
        border: 2px solid blue;
        transform-style: preserve-3d;
        transition: transform .5s;
    }

    &__matching-card:active {
        transform: scale(.97);
        transition: transform .2s;
    }

    &__matching-card.flip {
        transform: rotateY(180deg);
    }

    &__matching-card-front {
        width: 100%;
        position: absolute;
        padding: 10px;
        background: #FFFFFF;
        backface-visibility: hidden;
        transform: rotateY(180deg);
    }

    &__matching-card-back {
        width: 100%;
        position: absolute;
        padding: 10px;
        background: #FFFFFF;
        backface-visibility: hidden;
    }
}