@import '../../styles/partials/fonts';

.info-card-one {
    box-sizing: border-box;
    width: 150px;
    height: 200px;
    margin: 5px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    transform: scale(1);
    border: 2px solid blue;
    transform-style: preserve-3d;
    transition: transform .5s;

    &:hover {
        transform: rotateY(180deg);
    }

    &__front {
        width: 100%;
        position: absolute;
        padding: 10px;
        background: #FFFFFF;
        backface-visibility: hidden;
        transform: rotateY(180deg);
    }

    &__back {
        width: 100%;
        position: absolute;
        padding: 10px;
        background: #FFFFFF;
        backface-visibility: hidden;
    }
}