@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';

* {
    box-sizing: border-box;
}

.info-card-one {
    @include infoCard;
    margin: 0 4.2917vw;
    background: linear-gradient( to top right,rgba(156,204,101 ,1) 0%, rgba(38,198,218 ,1) 50%);
    box-shadow: 1px 1px 30px rgba(38,198,218 ,1);

    &:active {
        transform: scale(.97);
        transition: transform .2s;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bio Rhyme';
        font-size: 2rem;
        text-align: center;
        background: #FFFFFF;
        width: 85%;
        height: 85%;
        border-radius: 6px;
        margin: 0 auto;
        padding: 10px;
    }
}