@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';

* {
    box-sizing: border-box;
}

.info-card-three {
    @include infoCard;
    background:linear-gradient( to top right, rgba(63,81,181,1) 0%, rgba(3,155,229 ,1) 40%);
	box-shadow: 1px 1px 30px rgba(2,119,189 ,1);

    &:active {
        transform: scale(.97);
        transition: transform .2s;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bio Rhyme';
        font-size: 2rem;
        text-align: center;
        background: #FFFFFF;
        width: 85%;
        height: 85%;
        border-radius: 6px;
        margin: 0 auto;
        padding: 10px;
    }
}