@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';

* {
    box-sizing: border-box;
}

.info-card-three {
    @include infoCard;
    margin-right: 2.2917vw;
    background:linear-gradient( to top right, rgba(63,81,181,1) 0%, rgba(3,155,229 ,1) 40%);
	box-shadow: 1px 1px 30px rgba(2,119,189 ,1);

    &:active {
        transform: scale(.97);
        transition: transform .2s;
    }

    &.flip {
        transform: rotateY(180deg);
    }

    &__front {
        width: 100%;
        position: absolute;
        background: #FFFFFF;
        backface-visibility: hidden;
        transform: rotateY(180deg);
    }

    &__back {
        width: 100%;
        position: absolute;
        background: #FFFFFF;
        backface-visibility: hidden;
    }
}