@font-face {
    font-family: 'Bio Rhyme';
    src: url('../../assets/fonts/BioRhyme/BioRhyme-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bio Rhyme';
    font-weight: 800;
    src: url('../../assets/fonts/BioRhyme/BioRhyme-ExtraBold.ttf')
}

@font-face {
    font-family: 'Space Mono';
    src: url('../../assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}