@mixin questions {
    width: 30vw;
    height: 6vw;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 6px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    perspective: 1000px;
}

@mixin glow($c1, $c2, $c3) {
	text-shadow:
		0 0 $radius/6 #FFFFFF,
		0 (-$offset) $radius $c3,
		(-$offset) $offset $radius $c2,
		$offset $offset $radius $c3;
}

@mixin questionsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bio Rhyme';
    font-size: 1.3vw;
    text-align: center;
    background: #FFFFFF;
    width: 95%;
    height: 80%;
    border-radius: 6px;
    margin: 0 auto;
    padding: 10px;
}