@mixin infoCard {
    width: 17.7083vw;
    height: 22.9167vw;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 6px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    perspective: 1000px;
}