@import '../../styles/partials/fonts';

.space-surfer {
    font-family: 'Space Mono';
    background: url('../../assets/images/starry-night-sky.jpg');
    background-repeat: repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 1.1719vw 2.5vw 0 2.5vw;

    &__bubble-object-container {
        display: flex;
        justify-content: space-between;
    }

    &__talk-bubble-container {
        position: relative;
    }

    &__talk-bubble {
        width: 52.3478vw;
        height: 27.5vw;
        background: url('../../assets/images/talk-bubble.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__talk-bubble-dot-container {
        position: absolute;
        display: flex;
        bottom: 10.5469vw;
        left: 48.8281vw;
        width: 11.7188vw;
    }

    &__talk-bubble-dot-one {
        background: #FFFFFF;
        border: 3px solid #000000;
        border-radius: 50%;
        height: 3.125vw;
        width: 3.5156vw;
        animation: dotOne 2s ease-in-out infinite;
        animation-direction: normal;
    }

    @keyframes dotOne {
        0% { background: rgba(255, 255, 255, 0.3); }
        33% { background: rgba(255, 255, 255, 0.3); }
        66% { background: rgba(255, 255, 255, 0.3); }
        100% { background: rgba(255, 255, 255, 1); }
    }

    &__talk-bubble-dot-two {
        @extend .space-surfer__talk-bubble-dot-one;
        height: 2.3438vw;
        width: 2.7344vw;
        margin-left: 1.9531vw;
        animation: dotTwo 2s ease-in-out infinite;
        animation-direction: normal;
    }

    @keyframes dotTwo {
        0% { background: rgba(255, 255, 255, 0.3); }
        33% { background: rgba(255, 255, 255, 0.3); }
        66% { background: rgba(255, 255, 255, 1); }
        100% { background: rgba(255, 255, 255, 0.3); }
    }

    &__talk-bubble-dot-three {
        @extend .space-surfer__talk-bubble-dot-one;
        height: 1.5625vw;
        width: 1.9531vw;
        margin-left: 1.1719vw;
        animation: dotThree 2s ease-in-out infinite;
        animation-direction: normal;
    }

    @keyframes dotThree {
        0% { background: rgba(255, 255, 255, 0.3); }
        33% { background: rgba(255, 255, 255, 1); }
        66% { background: rgba(255, 255, 255, 0.3); }
        100% { background: rgba(255, 255, 255, 0.3); }
    }

    &__talk-bubble-text {
        width: 30.4688vw;
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.5;
        animation: fadeIn ease 5s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    &__object {
        height: 33.2031vw;
    }

    &__surfer-cards-container {
        display: flex;
    }

    &__space-surfer-container {
        width: 11.7188vw;
        margin: 50px 0 0 60px;
    }

    &__astronaut {
        height: 7.8125vw;
        position: relative;
        z-index: 1;
    }

    &__rocket {
        height: 11.7188vw;
        transform:
        rotate(100deg)
        rotateY(-50deg);
        position: absolute;
        top: 1.7969vw;
        right: 7.2656vw;
        z-index: 0;
    }

    &__cards-container {
        display: flex;
        margin-top: 25px;
    }
}

.hovering {   
    animation: hovering 5s infinite ease-in-out;
} 
  
@keyframes hovering { 
    0% { transform: translate(0,  0px); } 
    50% { transform: translate(0, 15px); } 
    100% { transform: translate(0, -0px); }     
}

.dancing {   
    animation: dancing 3s infinite linear;
    transform-origin: center;
} 
  
@keyframes dancing { 
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-3deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}