@import '../../styles/partials/global.scss';

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../../assets/images/starry-night-sky.jpg');
    background-repeat: repeat;
    background-size: cover;

    &__nav-button {
        @include button;
        font-size: 1.2vw;
        text-align: center;
        width: 10.4167vw;
        outline: none;
        color: #FC4C02;
        border: 5px solid #FC4C02;
        margin: 15px 0 0 15px;
      
        &:hover {
            box-shadow: 0 2px 20px 0 #FC4C02 inset, 0 2px 20px 0 #FC4C02,
            0 2px 20px 0 #FC4C02 inset, 0 2px 20px 0 #FC4C02;
        }
    }

    &__title {
        font-family: 'Bio Rhyme';
        font-size: 4vw;
        color: #FFFFFF;
        margin-top: 15px;
    }

    &__image {
        width: 50vw;
    }

    &__explanation {
        font-family: 'Space Mono';
        font-size: 1.2vw;
        color: #FFFFFF;
        text-align: center;
        width: 75vw;
        margin: 25px 0 50px 0;
    }

    &__space-surfer-container {
        width: 11.7188vw;
    }

    &__astronaut {
        height: 7.8125vw;
        z-index: 1;
    }
}

.hovering {   
    animation: hovering 5s infinite ease-in-out;
} 
  
@keyframes hovering { 
    0% { transform: translate(0,  0px); } 
    50% { transform: translate(0, 15px); } 
    100% { transform: translate(0, -0px); }     
}