@import '../../styles/partials/global';

.title-screen {
    font-family: 'Bio Rhyme';
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
	background: url('../../assets/images/starry-night-sky.jpg');
    background-repeat: repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;

    &__title {
        line-height: 1;
        font-weight: 800;
        font-size: 8vw;
    }

    &__title-big {
        font-size: 8.8vw;
    }
    

    &__button-container {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    &__button {
        @include button;
        margin-top: 30px;
    }

    &__space-surfer-container {
        width: 11.7188vw;
    }

    &__astronaut {
        height: 7.8125vw;
        z-index: 1;
    }

    &__player {
        position: absolute;
        z-index: -1;
    }
}

span {
	animation: glow 2s ease-in-out both infinite;	

	@for $i from 1 through 11 {
		&:nth-child(#{$i}) {
			animation-delay: $i/11 * -2s;
		}
	}
}

@keyframes glow {
	0%, 100% {
		@include glow(nth($c, 1), nth($c, 2), nth($c, 3));	
	}
	33% {
		@include glow(nth($c, 2), nth($c, 3), nth($c, 1));
	}
	66% {
		@include glow(nth($c, 3), nth($c, 1), nth($c, 2));
	}
}

.hovering {   
    animation: hovering 5s infinite ease-in-out;
} 
  
@keyframes hovering { 
    0% { transform: translate(0,  0px); } 
    50% { transform: translate(0, 15px); } 
    100% { transform: translate(0, -0px); }     
}