@import '../../styles/partials/global.scss';

.learn-menu {
    background: url('../../assets/images/starry-night-sky.jpg');
    background-repeat: repeat;
    background-size: cover;

    &__nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2vw;
    }

    &__nav-button {
        @include button;
        font-size: 1.3vw;
        text-align: center;
        width: 10.4167vw;
        outline: none;
        color: #FC4C02;
        border: 5px solid #FC4C02;
        margin: 15px;
      
        &:hover {
            box-shadow: 0 2px 20px 0 #FC4C02 inset, 0 2px 20px 0 #FC4C02,
            0 2px 20px 0 #FC4C02 inset, 0 2px 20px 0 #FC4C02;
        }
      }

    &__button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4.4167vw;
    }

    &__button {
        @include button;
        width: 50vw;
        margin-top: 50px;
    }

    &__space-surfer-container {
        width: 11.7188vw;
    }

    &__astronaut {
        height: 7.8125vw;
        z-index: 1;
    }
}

.hovering {   
    animation: hovering 5s infinite ease-in-out;
} 
  
@keyframes hovering { 
    0% { transform: translate(0,  0px); } 
    50% { transform: translate(0, 15px); } 
    100% { transform: translate(0, -0px); }     
}